/*body{
    background-image: url(https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */
/* #one{
  
  background-image: url(https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: url(https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg) ;
}
#two{
    background-image: url(https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

/*body{
    background: url(https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg) no-repeat fixed blue;
    background-size: cover;
}*/
.one{
    background-image: url(https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.two{font-style: initial;
    color: chartreuse;
    font-weight: bolder;
    
   
}
.three{
   
}