.one{
    height: auto;
    width: 250px;
    background-color: bisque;
    margin-left: 10px;
    /* margin-bottom: 50px; */
/* margin: right 50px;  */
margin-top: 0px;
padding: 40px;
border-style: double;
border-color: black;
}
.two{
    height: auto;
    width: 900px;
    background-color: aquamarine;
    margin-left: 0px;
    padding: 40px;
    margin-top: 0px;
    border-style: dotted;
    margin-bottom: 270px;
    /* margin:right 5px; */
   
}